/* Este CSS es para el contenido dentro del index. No incluye Header y Footer.*/

/*INTRO*/
.intro {
  width: 100vw;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.intro-imagen {
  width: 100vw;
}

.intro-imagen img {
  width: 100%;
}

.intro-texto {
  width: 100vw;
  text-align: justify;
  padding: 1vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.intro-texto h1 {
  font-family: 'Bree Serif', serif;
  font-size: 2em;
  margin-bottom: 3vh;
  color: black;
  text-align: center;
}

.intro-texto p {
  margin: 0 15%;
  color: black;
  font-size: 1.2em;
}


/*OFERTAS*/

.ofertas-mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.foto {
  width: 100%;
  height: 15%;
  margin-top: 15px;
}

.ofertas{
  display: none;
}



/*PRODUCTS*/
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products .titulo-seccion h2 {
  text-align: center;
  font-family: 'Bree Serif', serif;
  color: black;
  background: white;
  padding: 10vw;
  width: 100vw;
}

button {
  cursor: pointer;
}

/*Shop More*/
.more {
  width: 100vw;
  margin: 5vh auto;
  display: flex;
  align-self: center;

}

.shop-more {
  padding: 2vw;
  margin-top: 2vh;
  background: #F7EB61; /*Yellow*/
  border: none;
  text-transform: uppercase;
  font-family: 'Bree Serif', serif;
  margin: auto;
  color: black;
}

/*el resto de los estilos de las cajas de productos estan en  product.css*/

@media (min-width: 768px) { /*TABLET*/
  /* .main-container {
    margin-top: 9vh;
  }
} */

@media (min-width: 992px) { /*DESKTOP*/
  /*INTRO*/
  .intro {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .intro-imagen {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .intro-imagen img {
    width: 100%;
  }

  .intro-texto {
    margin: 0;
    width: 55%;
    text-align: center;
    padding: 7%;
  }

  .intro-texto h1 {
    font-family: 'Bree Serif', serif;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: black;
  }

  .intro-texto p {
    margin: 0 15%;
    color: black;
    font-size: 1.2em;
  }

  /*PUBLICIDAD*/
  .publicidad {
    margin-top:50px;
    width: 100%;
  }
  .publicidad img {
    width: 100%;
  }


  /*MAIN CONTENT*/
  .main-photo {
    background: white;
    padding: 0;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .main-photo .banner img {
    width: 100%;
  }

  .banner {
    /* margin-top: 50px; */
    width: 50%;
  }

  .main-text {
    display: inline-block;
    background: white;
    width: 40%;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    /* margin-top: 30px; */
    text-align: center;
  }

  .main-text h1 {
    margin-bottom: 20px;
    color: black;
  }

  .main-text p {
    margin: 0 15%;
    color: black;
    font-size: 1.2em;
  }


  /*OFERTAS*/
  .ofertas-mobile {
    display: none;
  }

  .ofertas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  }

  .foto {
    width: 20%;
    height: 15%;
  }

  /*Titulo Seccion*/
  .products .titulo-seccion h2 {
    display: block;
    text-align: center;
    font-size: 2em;
    font-family: 'Bree Serif', serif;
    color: black;
    background: white;
    padding-top: 50px;
    padding-bottom: 25px;
    /* padding: 10%; */
    /* width: 100%; */
  }

  /*Shop More*/
  .shop-more {
    padding: 25px;
    margin-top: 50px;
    background: #F7EB61; /*Yellow*/
    border: none;
    text-transform: uppercase;
    font-family: 'Bree Serif', serif;
    margin: auto;
    color: black;


}
