/* Este CSS es para el contenido dentro del index. No incluye Header y Footer.*/

/*MAIN*/
.main-text h1 {
  color: white;
  font-family: 'Bree Serif', serif;
  font-size: 2em;
}

.main-text p {
  color: white;
}

.main-photo {
    background: #C4AAD7; /*Violet*/
}

.banner img {
  width: 100%;
}

.Bestsellers h2 {
  font-size: 1.8em;
}

.main-text {
  padding: 8vw;
  text-align: center;
}

/*PRODUCTS*/

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products .Bestsellers h2 {
  text-align: center;
  font-family: 'Bree Serif', serif;
  color: black;
  background: white;
  padding: 10vw;
  width: 100vw;
}


/*Shop More*/
.more {
  width: 100vw;
  margin: 5vh auto;
  display: flex;
  align-self: center;

}

.shop-more {
  padding: 2vw;
  margin-top: 2vh;
  background: #F7EB61; /*Yellow*/
  border: none;
  text-transform: uppercase;
  font-family: 'Bree Serif', serif;
  margin: auto;
  color: black;
}

@media (min-width: 768px) { /*TABLET*/
  /* .main-container {
    margin-top: 9vh;
  }
} */

@media (min-width: 1025px) { /*DESKTOP*/
  /*MAIN CONTENT*/
  .main-photo {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-photo .banner img {
    width: 100%;
  }

  .banner {
    margin-top: 50px;
  }

  .main-text {
    width: 100%;
    padding: 10px;
    padding-bottom: 30px;
    margin-top: 30px;
    text-align: center;
  }

  /*Seccionuib Best-sellers*/
  .products .Bestsellers h2 {
    display: block;
    text-align: center;
    font-size: 2em;
    font-family: 'Bree Serif', serif;
    color: black;
    background: white;
    padding-top: 100px;
    padding-bottom: 50px;
    /* padding: 10%; */
    /* width: 100%; */
  }

  /*Contenedor de productos*/
  .products-list {
    width: 100%;
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  /*Shop More*/
  .shop-more {
    padding: 25px;
    margin-top: 50px;
    background: #F7EB61; /*Yellow*/
    border: none;
    text-transform: uppercase;
    font-family: 'Bree Serif', serif;
    margin: auto;
    color: black;


}
