/* Este CSS es para el contenido dentro del index. No incluye Header y Footer.*/

/*MAIN*/
.main-text h1 {
  color: white;
  font-family: 'Bree Serif', serif;
  font-size: 2em;
  margin-bottom: 1vh;
}

.main-text p {
  color: white;
  text-align: justify;
}

.main-photo {
    background: #C4AAD7; /*Violet*/
}

.banner img {
  width: 100%;
}

.titulo-seccion h2 {
  font-size: 1.8em;
}

.main-text {
  padding: 8vw;
  text-align: center;
}

.foto {
  width: 70%;
  height: 15%;
  margin-top: 15px;
}

.ofertas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}


/*PRODUCTS*/
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products .titulo-seccion h2 {
  text-align: center;
  font-family: 'Bree Serif', serif;
  color: black;
  background: white;
  padding: 10vw;
  width: 100vw;
}

button {
  cursor: pointer;
}

/*Shop More*/
.more {
  width: 100vw;
  margin: 5vh auto;
  display: flex;
  align-self: center;

}

.shop-more {
  padding: 2vw;
  margin-top: 2vh;
  background: #F7EB61; /*Yellow*/
  border: none;
  text-transform: uppercase;
  font-family: 'Bree Serif', serif;
  margin: auto;
  color: black;
}

/*el resto de los estilos de las cajas de productos estan en  product.css*/

@media (min-width: 768px) { /*TABLET*/
  /* .main-container {
    margin-top: 9vh;
  }
} */

@media (min-width: 992px) { /*DESKTOP*/
  /*MAIN CONTENT*/
  .main-photo {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-photo .banner img {
    width: 100%;
  }

  .banner {
    margin-top: 50px;
  }

  .main-text {
    width: 100%;
    padding: 10px;
    padding-bottom: 30px;
    margin-top: 30px;
    text-align: center;
  }


  .foto {
    width: 20%;
    height: 15%;
  }

  .ofertas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  }

  .main-text h1 {
    margin-bottom: 20px;
  }

  .main-text p {
    margin: 0 15%;

    font-size: 1.2em;
  }

  /*Titulo Seccion*/
  .products .titulo-seccion h2 {
    display: block;
    text-align: center;
    font-size: 2em;
    font-family: 'Bree Serif', serif;
    color: black;
    background: white;
    padding-top: 50px;
    padding-bottom: 25px;
    /* padding: 10%; */
    /* width: 100%; */
  }

  /*Shop More*/
  .shop-more {
    padding: 25px;
    margin-top: 50px;
    background: #F7EB61; /*Yellow*/
    border: none;
    text-transform: uppercase;
    font-family: 'Bree Serif', serif;
    margin: auto;
    color: black;


}
