/*Este CSS es para lo más importante, que se repite en todos lados. Serian header, footer y algunas cosas más.*/

* {
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Bree Serif', serif;
  font-size: 2em;
}

/*MENU*/
nav a {
  text-decoration: none;
  color: white;
}

nav h3 {
  font-family: 'Handlee', cursive;
  font-size: 1.8em;
}

/*MENU DESKTOP*/
.menu-desktop {
  display: none; /*FOR MOBILE FIRST*/
}


/*MENU MOBILE*/
.menu-mobile {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  background: #8CD0E3; /*Lightblue*/
  padding: 3vw 3vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  color: white;
}

.menu-mobile h3 {
  display: inline-block;
}

#bars {
  font-size: 1.5rem;
}

#bag-icon {
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: 1.5rem;
}

#user-icon {
  padding-left: 2vw;
  font-size: 1.5rem;
}

/*Main Container*/
.main-container{
  margin-top: 10vh;
}

/*FOOTER GENERAL*/
.footer-info {
  background: #8CD0E3; /*Lightblue*/
  color: white;
}

.footer-info a {
  color: white;
  text-decoration: none;
}

.links-desktop {
  display: none;
}


/*FOOTER MOBILE*/
.links-mobile {
  padding: 5vh 5vw;
  padding-bottom: 3vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  }

.footer-info-mobile {
  width: 90vw;
  padding: 2vw 0;
  border-bottom: solid white 0.1vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.copyright {
  padding: 5vw;
  padding-bottom: 1vh;
  text-align: center;
  font-family: serif;
  font-style: italic;
  }

@media (min-width: 768px) { /*TABLET*/
  * {
    font-size: 26px;
  }

  /*MENU MOBILE*/
  .menu-mobile {
    position: fixed;
    width: 100vw;
    height: 10vw;
    background: #8CD0E3; /*Lightblue*/
    padding: 3vw;
    padding-bottom: 7vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    color: white;
  }

  /*MAIN COINTAINER*/
  .main-container {
    margin-top: 9vh;
  }

  /*FOOTER MOBILE*/

}

@media (min-width: 1025px) { /*DESKTOP*/
  /*MENU*/
  * {
    font-size: 20px;
    box-sizing: border-box;
    /* overflow: hidden; */
  }

  .menu-mobile {
    display: none;
  }

  .menu-desktop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    color: white;
    background: #8CD0E3; /*Lightblue*/
    padding: 10px;
    /* padding-bottom: 2%; */
    display: flex;
    flex-wrap: wrap;
  }

  .menu-top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-title {
    display: inline;
    /* text-transform: uppercase; */
    margin-left: 20px;
    margin-top: 5px;
    font-size: 1.8em;
  }

  .menu-bottom{
    /* font-size: 1em; */
    width: 100%;
    text-align: center;
    }

  .menu-bottom ul {
    list-style: none;
    /* padding-top: 10px; */
    /* padding-bottom: px; */
  }

  .menu-bottom ul li {
    display: inline-block;
    margin-left: 5px;
  }

  .menu-bottom ul li a {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
  }

  .icons i {
    font-size: 2rem;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
  }

  /*MAIN-CONTAINER*/
  .main-container {
    margin-top: 120px;
  }

  /*FOOTER*/
  .links-mobile { /*Ocultamos el footer para version mobil*/
    display: none;
  }

  .links-desktop {
    padding: 3% 2%;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    }

  /* .footer-info-desktop {
    width: 90vw;
    padding: 2vw 0;
    border-bottom: solid white 0.1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } */

  .social-media {
    display: inline-block;
    width: 30%;
    text-align: center;
  }

  .social-links-desktop i {
    font-size: 2em;
    padding: 5px;
  }

  /* CUENTA*/
  .cuenta {
    display: inline-block;
    width: 30%;
  }

  .cuenta h3 {
    padding: 15px 0;
  }


  /*FORMULARIO SUSCRIBE*/
  .suscribe {
    display: inline-block;
    width: 30%;
    /* background:  */
  }

  .suscribe h3 {
    font-family: 'Bree Serif', serif;
  }

  .suscribe-form {
    margin-top: 10px;
  }

  .suscribe-form input {
    color: black;
    border: none;
    padding: 10px;
  }

  #suscribe-button {
    border: none;
    padding: 10px;
    color: white;
    background: #C4AAD7; /*Violet*/
    /*No se si usar blaco y violeta o amarillo y negro para el boton*/
    /* color: black; */
    /* background: #F7EB61; /*Yellow*/ */
  }

  /*COPYRIGHT*/
  .copyright {
    width: 100%;
  }

}
