/*PRODUCT*/

.product {
  background: white;
  width: 100vw;
  padding: 5vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.product .images {
  align-self: center;
  margin-bottom: 3vh;
}

.product .images img {
  max-width: 50vw;
  border: solid, lightgrey, 1vw;
  text-align: center;
}

.product-text {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: space-between; */
}

.product-text h3 {
  font-family: 'Bree Serif', serif;
  color: black;
  text-transform: capitalize;
  /* margin-bottom: auto; */
}

.product-text .price {
  color: black;
  /* margin-top: auto; */
}

.product-button {
  text-align: center;
}

.add-bag {
  padding: 2vw;
  margin-top: 2vh;
  background: #8CD0E3; /*Lightblue*/
  border: none;
  text-transform: uppercase;
  font-family: 'Bree Serif', serif;
  text-align: center;
}

@media (min-width: 768px) { /*TABLET*/}

@media (min-width: 992px) { /*DESKTOP*/
  .products {
    margin: 0 20%;
  }

  /*PRODUCT: cada producto*/
  .product {
    /* border: solid 1px black; */
    background: white;
    /* padding: 50px; */
    margin: 20px 50px;
    width: 10%;
    padding: 2%;
    /* overflow: hidden; */
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex: 1;
    /* flex-direction: column; */
  }

  .product .images {
    margin: 0;
    padding: 0;
  }

  .product .images img {
    /* width: 100%; */
    height: 135px;
    margin: 0;
  }

  .product-text {
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .product-text h3 {
    font-family: 'Bree Serif', serif;
    /* margin-bottom: auto; */
  }

  .product-button {
    margin-top: auto;
  }

  .price {
    margin-bottom: 5px;
  }

  .add-bag {
    padding: 20px;
    margin-top: 10px;
    cursor: pointer;
  }
}
