/*PRODUCT*/
.producto {
  background: white;
  width: 100vw;
  padding: 5vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.etiqueta-nuevo {
  width: 20vw;
  position: relative;
  top: 7vh;
  left: 15vw;
  z-index: 10;
}

.p-imagen {
  align-self: center;
  margin-bottom: 3vh;
}

.p-imagen img {
  max-width: 50vw;
  border: solid, lightgrey, 1vw;
  text-align: center;
}

.producto-texto {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.producto-texto h3 {
  font-family: 'Bree Serif', serif;
  color: black;
  text-transform: capitalize;
}

.producto-texto .precio {
  color: black;
}

.producto-boton {
  text-align: center;
}

.comprar {
  padding: 2vw;
  margin-top: 2vh;
  background: #8CD0E3; /*Lightblue*/
  border: none;
  text-transform: uppercase;
  font-family: 'Bree Serif', serif;
  text-align: center;
}

@media (min-width: 768px) { /*TABLET*/}

@media (min-width: 992px) { /*DESKTOP*/
  .productos {
    /* margin: 0 10%; */
  }

  .producto {
    background: white;
    margin: 20px 50px;
    width: 10%;
    max-width: 100px;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex: 1;
  }

  .etiqueta-nuevo {
    width: 100%;
    position: relative;
    top: 10px;
    left: 0;
    z-index: 10;
  }

  .p-imagen {
    margin: 0;
    padding: 0;
  }

  .p-imagen img {
    height: 135px;
    margin: 0;
  }

  .producto-texto {
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .producto-texto h3 {
    font-family: 'Bree Serif', serif;
  }

  .producto-boton {
    margin-top: auto;
  }

  .precio {
    margin-bottom: 5px;
  }

  .comprar {
    padding: 20px;
    margin-top: 10px;
    cursor: pointer;
  }
}
